/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f9f4;
    margin: 0;
}

/* Encabezado */
header {
    background-color: #590ab3;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Menú de navegación */
nav {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

/* Contenido principal */
main {
    padding: 20px;
}

/* Títulos */
h2 {
    color: #333;
}

/* Imágenes */
img {
    margin: 10px;
    border-radius: 10px;
}

/* Listas */
ul, ol {
    margin-left: 20px;
}

/* Tabla */
table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Footer */
footer {
    background-color: #0f12a5;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}